<!DOCTYPE html>

<style>
.custome-body {
  padding-top: 50px;
}
.btn:visited {
color: #FFF
}
</style>

<html>
  <head>
    <title>Home Services</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <% if params[:controller] != "welcome" %>
  <body class="custome-body">
  <% else %>
  <body>
  <% end %>

    <% if params[:controller] != "welcome" %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? %>
          <a class="navbar-brand" href="<%= works_path %>">
            Home Services
          </a>
        <% else %>
          <a class="navbar-brand" href="<%= welcome_path %>">
            Home Services
          </a>
        <% end %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>
            <% if user_signed_in? %>
            <li>
              <a href='<%= new_work_path %>'>
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
            <li>
              <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %>
            </li>
            <% else %>
            <li>
              <%= link_to('Iniciar sesión', new_user_session_path)  %>
            </li>
            <li>
              <%= link_to('Registrarse', new_user_registration_path)  %>
            </li>
            <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <% end %>

  <%= yield %>

  </body>
</html>
